body{
  margin:0;
  background-color:rgba(44, 43, 61, 1);
  text-align:center;
  font-family: 'JetBrains Mono';
  color: #FFFFFF;
}

#page{
  width:1170px;
  margin:auto;
}

nav{
  display:flex;
  align-items:center;
  justify-content:space-between; 
  padding:71px 0 107px;
}
nav ul{
  display:flex;
  gap:64px;
}
nav ul li{
  list-style:none;
}
main{
  display:flex;
  justify-content:space-between;
  margin:0 0 107px 0;
}
main h1{
  margin:0;
  font-size:36px;
  line-height:40px;
  margin-bottom:59px;
}
section{
}
main p{
  color: #C2C2C2;
  font-size:16px;
  line-height:28px;
}
main span{
 color:rgba(0, 191, 166, 1);
}

#lock-img{
  position:fixed;
  left:20px;
  bottom:20px;
}

footer div{
  width:568px;
  border: 1px solid rgba(0, 191, 166, 1);
}
footer a{
  text-decoration: none;
  color:#C2C2C2;
}